<div class="common-header">
  <div class="inner-header clearfix">
    <a href="#!/home/index" class="logo">
      <i class="tmfont">&#xe600;</i>
      <span>图米粒</span>
    </a>
    <ul class="nav">
    {{#menuList}}
      <li {{#active}}class="active"{{/active}}><a href="#!{{path}}">{{text}}</a></li>
    {{/menuList}}
    </ul>
    <div class="user">
      <a href="#!/user/signup">注册</a>
      <a href="#!/user/signin">登录</a>
    </div>
  </div>
</div>
