<div class="page-user">
  <form class="signup_form" role="form" bx-name="app/exts/iform/index" data-helptype="inline">
    <div class="s_line_mb">
      <label class="label">用户名：</label>
      <input type="text" class="form-control s_input" name="name" data-valid="{required:true,regex:[/^[\u4e00-\u9fa5_\-a-zA-Z0-9]+$/,'名称由汉字、字母、数字、下划线（_）和横杠（-）组成'],length:[1,20,true,'字符长度在1到20之间，其中中文代表两个字符']}">
    </div>
    <div class="s_line_mb">
      <label class="label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
      <input type="text" class="form-control s_input" name="password" data-valid="{required:true}">
    </div>
    <div class="s_line_mb">
      <label class="label">头&nbsp;&nbsp;&nbsp;&nbsp;像：</label>
      <input type="file" name="avatar" mx-change="upload">
      <div class="preview"></div>
    </div>
    <div class="s_line_mb">
      <label class="label" style="vertical-align:top;">签&nbsp;&nbsp;&nbsp;&nbsp;名：</label>
      <textarea class="textarea" name="sign" data-valid="{required:true,regex:[/^[\u4e00-\u9fa5a-zA-Z0-9]+$/,'名称由汉字、字母、数字组成'],length:[1,40,true,'长度在1到40之间，其中中文代表两个字符']}"></textarea>
    </div>
    <a href="javascript:;" class="btn btn-brand w100 mr10" mx-click="signup">注册</a>
    <a href="#!/user/signin" class="color-brand">已有账号？</a>
  </form>
</div>
