<div class="page-user">
  <form class="signup_form" role="form" bx-name="app/exts/iform/index" data-helptype="inline">
    <div class="s_line_mb">
      <label class="label">用户名：</label>
      <input type="text" class="form-control s_input" name="name" data-valid="{required:true,regex:[/^[\u4e00-\u9fa5_\-a-zA-Z0-9]+$/,'名称由汉字、字母、数字、下划线（_）和横杠（-）组成'],length:[1,20,true,'字符长度在1到20之间，其中中文代表两个字符']}">
    </div>
    <div class="s_line_mb">
      <label class="label">密&nbsp;&nbsp;&nbsp;&nbsp;码：</label>
      <input type="password" class="form-control s_input" name="password" data-valid="{required:true}">
    </div>
    <a href="javascript:;" class="btn btn-brand w100 mr10">登录</a>
    <a href="#!/user/signup" class="color-brand">还没有账号？</a>
  </form>
</div>
