<div class="page-home clearfix">
  <div class="col-main">
    <div class="col-wrap">
      <ul class="album-list clearfix">
        <li>
          <a href="#" target="_blank">
            <img src="http://placekitten.com/g/260/260" alt="">
          </a>
          <div class="album">
            <p class="title">
              <a href="#" target="_blank">707的梳妆台</a></p>
            <p class="reason">
              <span>推荐理由：</span>幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩
            </p>
            <p class="msg clearfix">
              <a href="#" target="_blank" class="user">
                <img src="http://placeholder.qiniudn.com/20x20" alt="" class="avatar">藤虎
              </a>
              <span class="operate">
                <a href="javascript:;" class="like mr10" title="喜欢">
                  <i class="tmfont f20">&#xe602;</i>11
                </a>
                <a href="javascript:;" class="save" title="下载">
                  <i class="tmfont mr3">&#xe601;</i>22
                </a>
              </span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="http://placekitten.com/g/260/260" alt="">
          </a>
          <div class="album">
            <p class="title">
              <a href="#" target="_blank">707的梳妆台</a></p>
            <p class="reason">
              <span>推荐理由：</span>幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩
            </p>
            <p class="msg clearfix">
              <a href="#" target="_blank" class="user">
                <img src="http://placeholder.qiniudn.com/20x20" alt="" class="avatar">藤虎
              </a>
              <span class="operate">
                <a href="javascript:;" class="like mr10" title="喜欢">
                  <i class="tmfont f20">&#xe602;</i>11
                </a>
                <a href="javascript:;" class="save" title="下载">
                  <i class="tmfont mr3">&#xe601;</i>22
                </a>
              </span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="http://placekitten.com/g/260/260" alt="">
          </a>
          <div class="album">
            <p class="title">
              <a href="#" target="_blank">707的梳妆台</a></p>
            <p class="reason">
              <span>推荐理由：</span>幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩
            </p>
            <p class="msg clearfix">
              <a href="#" target="_blank" class="user">
                <img src="http://placeholder.qiniudn.com/20x20" alt="" class="avatar">藤虎
              </a>
              <span class="operate">
                <a href="javascript:;" class="like mr10" title="喜欢">
                  <i class="tmfont f20">&#xe602;</i>11
                </a>
                <a href="javascript:;" class="save" title="下载">
                  <i class="tmfont mr3">&#xe601;</i>22
                </a>
              </span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="http://placekitten.com/g/260/260" alt="">
          </a>
          <div class="album">
            <p class="title">
              <a href="#" target="_blank">707的梳妆台</a></p>
            <p class="reason">
              <span>推荐理由：</span>幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩
            </p>
            <p class="msg clearfix">
              <a href="#" target="_blank" class="user">
                <img src="http://placeholder.qiniudn.com/20x20" alt="" class="avatar">藤虎
              </a>
              <span class="operate">
                <a href="javascript:;" class="like mr10" title="喜欢">
                  <i class="tmfont f20">&#xe602;</i>11
                </a>
                <a href="javascript:;" class="save" title="下载">
                  <i class="tmfont mr3">&#xe601;</i>22
                </a>
              </span>
            </p>
          </div>
        </li>
        <li>
          <a href="#" target="_blank">
            <img src="http://placekitten.com/g/260/260" alt="">
          </a>
          <div class="album">
            <p class="title">
              <a href="#" target="_blank">707的梳妆台</a></p>
            <p class="reason">
              <span>推荐理由：</span>幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩幽默风趣好玩
            </p>
            <p class="msg clearfix">
              <a href="#" target="_blank" class="user">
                <img src="http://placeholder.qiniudn.com/20x20" alt="" class="avatar">藤虎
              </a>
              <span class="operate">
                <a href="javascript:;" class="like mr10" title="喜欢">
                  <i class="tmfont f20">&#xe602;</i>11
                </a>
                <a href="javascript:;" class="save" title="下载">
                  <i class="tmfont mr3">&#xe601;</i>22
                </a>
              </span>
            </p>
          </div>
        </li>
      </ul>
      <div bx-name="components/pagination" data-total="100" data-cursor="1" data-limit="20" data-limits="[10,20]"></div>
    </div>
  </div>
  <div class="col-sub">
    
  </div>
</div>