.page-home {
  .col-main {
    float: left;
    width: 100%;
    .col-wrap {
      margin-right: 300px;
    }
    .album-list {
      li {
        width: 260px;
        height: 260px;
        overflow: hidden;
        float: left;
        margin: 0 15px 15px 0;
        position: relative;
        .album {
          background-color: rgba(0, 0, 0, 0.7);
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 95px;
          color: #fff;
          padding: 0 10px;
          box-sizing: border-box;
          a {
            color: #fff;
          }
          .title {
            font-size: 14px;
            margin-top: 5px;
            line-height: 21px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .reason {
            line-height: 18px;
            height: 36px;
            overflow: hidden;
          }
          .msg {
            margin-top: 5px;
            .user {
              float: left;
              .avatar {
                border-radius: 10px;
                margin-right: 5px;
              }
            }
            .operate {
              float: right;
              margin-top: -5px;
            }
          }
        }
      }
    }
  }
  .col-sub {
    width: 290px;
    float: left;
    margin-left: -290px;
  }
}