.page-user {
  .signup_form {
    width: 400px;
    margin: 40px auto 0;
    input {
      width: 240px;
    }
    .btn {
      margin-left: 54px;
    }
    textarea {
      width: 240px;
      height: 80px;
      padding: 9px;
      &:focus {
        border-color: #52be7f !important;
      }
    }
  }
}