/*所有变量的定义 还有mixin的定义 */
/*@a-color-hover: #ff8800;*/
/*通用组件样式,比如各种下拉组件，表格组件等等这种*/
/*
 * iconfont字体库
 * 地址：http://www.iconfont.cn/showProject?pid=33016
 */
@font-face {
  font-family: 'tmfont';
  src: url('//at.alicdn.com/t/font_1442750558_1429107.eot');
  /* IE9*/
  src: url('//at.alicdn.com/t/font_1442750558_1429107.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('//at.alicdn.com/t/font_1442750558_1429107.woff') format('woff'), /* chrome、firefox */ url('//at.alicdn.com/t/font_1442750558_1429107.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('//at.alicdn.com/t/font_1442750558_1429107.svg#tmfont') format('svg');
  /* iOS 4.1- */
}
.tmfont {
  font-family: 'tmfont';
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  /* 1 */
  -moz-osx-font-smoothing: grayscale;
  /* 2 */
}
body,
button,
input,
select,
textarea {
  font-size: 12px;
  color: #333;
  line-height: 1.42857143;
  font-family: "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", Georgia, "Times New Roman", Arial, sans-serif;
}
a {
  color: #666666;
  outline: none;
  text-decoration: none;
}
select {
  display: none;
}
input:focus {
  outline: 0 !important;
}
a:focus,
span:focus,
button:focus,
a:active,
span:active,
button:active {
  outline: none;
}
/* 带品牌色的radio */
input[type="radio"] {
  vertical-align: middle;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  background: #fefefe;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.5) inset;
  border-radius: 1em;
  width: 15px;
  height: 15px;
  vertical-align: sub;
}
input[type="radio"]:checked {
  background-color: #f24455;
  box-shadow: none;
  border: none;
}
input[type="radio"]:checked:after {
  content: '';
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 1em;
}
/* 带品牌色的checkbox */
input[type="checkbox"] {
  vertical-align: middle;
  -webkit-appearance: none;
  border: 1px solid #cccccc;
  background: #fefefe;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  vertical-align: sub;
  position: relative;
}
input[type="checkbox"]:checked {
  background-color: #f24455;
  box-shadow: none;
  border: none;
}
input[type="checkbox"]:checked:after {
  content: '\e61f';
  position: absolute;
  top: -3px;
  left: -2px;
  font-family: 'mgfont';
  color: #fff;
  font-size: 18px;
}
.block-loading {
  width: 40px;
  height: 18px;
  margin: 50px auto;
  background-image: url(http://img02.taobaocdn.com/tps/i2/T19ZHDXf4fXXc.LCDe-40-18.gif);
  background-repeat: no-repeat;
  background-position: center;
}
/*常用的btn common样式，设定高度32px, 依赖btn, 宽度自设定*/
.btn {
  display: inline-block;
  padding: 6px 10px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn.btn-default {
  font-size: 12px;
}
.btn:focus,
.btn.focus,
.btn:active,
.btn.active .btn:active:focus {
  outline: none;
  box-shadow: none;
}
.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}
.btn-common {
  font-size: 12px;
  height: 32px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  color: #999;
  background-color: transparent;
  overflow: hidden;
}
.btn-common:hover {
  border-color: #CCC;
}
.btn-gray {
  height: 32px;
  color: #333;
  background-color: #F0F0F0;
}
.btn-gray:hover,
.btn-gray.hover,
.btn-gray:focus,
.btn-gray.focus,
.btn-gray:active,
.btn-gray.active {
  background-color: #E6E6E6;
}
.btn-grayc {
  height: 32px;
  color: #333;
  background-color: #ccc;
}
.btn-grayc:hover,
.btn-grayc.hover,
.btn-grayc:focus,
.btn-grayc.focus,
.btn-grayc:active,
.btn-grayc.active {
  background-color: #bbb;
}
.btn-brand {
  height: 32px;
  color: #fff;
  background-color: #52be7f;
}
.btn-brand:hover,
.btn-brand.hover,
.btn-brand:focus,
.btn-brand.focus,
.btn-brand:active,
.btn-brand.active {
  background-color: #479065;
  color: #fff;
}
.btn-disabled {
  height: 32px;
  color: #ccc;
  background-color: #f4f4f4;
}
.btn-disabled:hover,
.btn-disabled.hover,
.btn-disabled:focus,
.btn-disabled.focus,
.btn-disabled:active,
.btn-disabled.active {
  background-color: #f4f4f4;
  color: #ccc;
}
/* 搜索框 */
.input_enter_placeholder {
  color: #cccccc;
}
.form_search {
  position: relative;
  color: #999999;
}
.form_search .s_input {
  width: 220px;
  border-radius: 4px;
  padding-left: 32px;
}
.form_search .s_input:hover {
  border: 1px solid #ccc;
}
.form_search .input_enter_icon {
  position: absolute;
  left: 9px;
  top: 6px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.form_label {
  font-size: 12px;
  margin-bottom: 10px;
  color: #333;
}
.s_input {
  border: 1px solid #ebebeb;
  padding: 0 9px;
  height: 32px;
  line-height: 32px;
  width: 328px;
  box-shadow: none;
}
.s_fake_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
.s_input:focus,
.s_input_fake_focus {
  border-color: #52be7f !important;
  box-shadow: none;
}
.s_input:hover {
  border-color: #ccc;
}
.s_input[disabled] {
  background-color: #fafafa;
  color: #ccc;
}
.s_input_s {
  width: 98px!important;
  display: inline-block;
}
/*最短input，如日预算*/
.s_input_ms {
  width: 142px!important;
  display: inline-block;
}
/*中短input，如起止时间*/
.s_input_m {
  width: 200px!important;
}
/*中等长度input，如起始日期选择  宽度待定*/
.s_br_6 {
  border-radius: 6px;
}
.s_gap_5 {
  margin-right: 5px;
}
.s_gap_8 {
  margin-right: 8px;
}
.s_gap_20 {
  margin-right: 20px;
}
.s_gap_28 {
  margin-right: 28px;
}
.s_gap_38 {
  margin-right: 38px;
}
.s_gap_92 {
  margin-right: 92px;
}
.s_link {
  cursor: pointer;
}
.s_hr_eb {
  border-top: 1px solid #ebebeb;
}
.s_line_mb10 {
  margin-bottom: 10px;
}
.s_line_mb20 {
  margin-bottom: 20px;
}
.s_line_mb30 {
  margin-bottom: 30px;
}
.s_line_mb {
  margin-bottom: 40px;
  position: relative;
}
.s_line_mb60 {
  margin-bottom: 60px;
}
.s_line_inline {
  position: relative;
}
.s_fc_e6 {
  color: #e6e6e6!important;
}
/*用于一行中有2个以上需要“专利”input效果的*/
.s_input {
  border: 1px solid #ebebeb;
  padding: 0 9px;
  height: 32px;
  line-height: 32px;
  width: 328px;
  box-shadow: none;
}
.s_textarea {
  height: 100px;
  line-height: 18px;
}
/*default input*/
.s_fake_placeholder {
  position: absolute;
  top: 0;
  left: 0;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
}
.s_input:hover {
  border-color: #ccc;
}
.s_input[disabled] {
  background-color: #fafafa;
  color: #ccc;
}
/*最短input，如日预算*/
.s_input_ms {
  width: 142px;
  display: inline-block;
}
/*中短input，如起止时间*/
.s_input_m {
  width: 200px;
}
/*中等长度input，如起始日期选择  宽度待定*/
.s_label {
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.s_btn {
  height: 32px;
  line-height: 30px;
  padding: 0 20px;
  background-color: #2378ff;
  color: #fff !important;
  font-size: 12px;
}
.s_btn:hover,
.s_btn:focus {
  color: #fff;
}
.s_btn_gray {
  background-color: #f0f0f0;
  color: #333 !important;
  font-size: 12px;
}
.s_btn_gray:hover,
.s_btn_gray:focus {
  background-color: #e6e6e6;
  color: #333;
}
.s_radio {
  margin-top: -1px;
}
/*.s_radio[checked]{border-color:#2378ff;}*/
.s_fl {
  float: left;
  _display: inline;
}
.s_fr {
  float: right;
  _display: inline;
}
.s_dib {
  display: inline-block;
}
/*clearfix ux.css里面已有*/
.s_hide {
  display: none;
}
.s_vam {
  vertical-align: middle;
}
.s_center_b {
  margin-left: auto;
  margin-right: auto;
}
.s_center_t {
  text-align: center;
}
.s_fc_9 {
  color: #999!important;
}
.s_fc_green {
  color: #52be7f !important;
}
/*common tab*/
.common_tabs {
  border-bottom: 1px solid #ebebeb;
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}
.common_tabs li {
  display: inline-block;
  float: left;
}
.common_tab {
  display: block;
  font-size: 16px;
  color: #999;
  border-bottom: 1px solid #fff;
  height: 43px;
  margin-right: 10px;
  padding: 2px 20px 0;
}
.common_tab:link {
  color: #999;
}
.common_tab:hover {
  text-decoration: none;
  color: #999;
}
.common_tab_active {
  color: #479065;
  border-bottom: 1px solid #479065;
}
.common_tab_active:link,
.common_tab_active:hover {
  color: #52be7f;
}
/*整体页面布局的样式，包括页头页尾*/
.wrapper {
  width: 100%;
}
.inmain {
  min-height: 600px;
  padding-top: 30px;
  width: 1400px;
  margin: 0 auto;
}
/* 公共头 */
.common-header {
  height: 50px;
  line-height: 50px;
  background-color: #52be7f;
  color: #fff;
  overflow: hidden;
}
.common-header .inner-header {
  width: 1400px;
  margin: 0 auto;
}
.common-header .inner-header .logo {
  width: 200px;
  height: 50px;
  float: left;
  overflow: hidden;
  color: #fff;
}
.common-header .inner-header .logo i {
  font-size: 42px;
  vertical-align: top;
  margin-right: 5px;
}
.common-header .inner-header .logo span {
  font-size: 20px;
}
.common-header .inner-header .nav {
  float: left;
  font-size: 14px;
  margin-left: 20px;
}
.common-header .inner-header .nav li {
  float: left;
  padding: 0 30px;
}
.common-header .inner-header .nav li.active a {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.common-header .inner-header .nav a {
  color: #fff;
  opacity: 0.55;
  filter: alpha(opacity=55);
}
.common-header .inner-header .nav a:focus,
.common-header .inner-header .nav a:hover {
  color: #fff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.common-header .inner-header .user {
  float: right;
}
.common-header .inner-header .user a {
  padding: 0 15px;
  color: #fff;
}
/*全局通用小定义，比如mb20这种*/
.fl {
  float: left;
  *display: inline;
}
.fr {
  float: right;
  *display: inline;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt40 {
  margin-top: 40px;
}
.mt50 {
  margin-top: 50px;
}
.mt60 {
  margin-top: 60px;
}
.mt70 {
  margin-top: 70px;
}
.mt90 {
  margin-top: 90px;
}
.mt100 {
  margin-top: 100px;
}
.mr3 {
  margin-right: 3px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr30 {
  margin-right: 30px;
}
.mr50 {
  margin-right: 50px;
}
.mr60 {
  margin-right: 60px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb40 {
  margin-bottom: 40px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml30 {
  margin-left: 30px;
}
.ml40 {
  margin-left: 40px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt40 {
  padding-top: 40px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl50 {
  padding-left: 50px;
}
.pl95 {
  padding-left: 95px;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.cp {
  cursor: pointer;
}
.none {
  display: none;
}
.hide {
  display: none!important;
}
.bold {
  font-weight: bold;
}
.lh21 {
  line-height: 21px;
}
.lh32 {
  line-height: 32px;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
/* 字体大小 */
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f18 {
  font-size: 18px;
}
.f20 {
  font-size: 20px;
}
.f22 {
  font-size: 22px;
}
.f24 {
  font-size: 24px;
}
.f26 {
  font-size: 26px;
}
.f40 {
  font-size: 40px;
}
.f48 {
  font-size: 48px;
}
/* 一些固定宽度 */
.w50 {
  width: 50px;
}
.w60 {
  width: 60px;
}
.w65 {
  width: 65px;
}
.w70 {
  width: 70px;
}
.w80 {
  width: 80px;
}
.w90 {
  width: 90px;
}
.w100 {
  width: 100px;
}
.w110 {
  width: 110px;
}
.w120 {
  width: 120px;
}
.w130 {
  width: 130px;
}
.w140 {
  width: 140px;
}
.w220 {
  width: 220px;
}
/* 常用颜色 */
.color-gray {
  color: #777;
}
.color-666 {
  color: #666;
}
.color-333 {
  color: #333;
}
.color-grey {
  color: #999;
}
.color-smoke {
  color: #ccc;
}
.color-disabled {
  color: #e6e6e6;
}
.color-white {
  color: #fff;
}
.color-white:hover,
.color-white:active {
  color: #fff;
}
.color-green {
  color: #51a300;
}
.color-blue {
  color: #0066dd;
}
.color-red {
  color: #ef3000;
}
.color-yellow {
  color: #fcbc52;
}
.color-brand {
  color: #52be7f;
}
.overflow_dotted {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/*具体到统一的业务组件样式，比如分步骤组件*/
.table-container {
  width: 100%;
}
.table-container .table {
  width: 100%;
}
.table-container .table thead tr.tr-nodata th {
  color: #ccc;
}
.table-container .table thead th {
  background-color: #fafafa;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  color: #999;
  font-weight: normal;
  padding: 20px 10px;
}
.table-container .table thead th .mgfont {
  cursor: pointer;
  color: #999;
  font-size: 12px;
  vertical-align: 1px;
}
.table-container .table thead th:first-child {
  padding-left: 14px;
}
.table-container .table thead .dropdown .dropdown-toggle {
  border: none;
  height: auto;
  min-width: 0;
  padding: 0;
  outline: none;
}
.table-container .table thead .dropdown .dropdown-toggle:hover {
  background: none;
}
.table-container .table tbody td {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  padding: 20px 10px;
}
.table-container .table tbody td:first-child {
  padding-left: 14px;
}
.table-container .table tbody td .operation {
  display: none;
}
.table-container .table tbody td .operation a {
  color: #52be7f;
}
.table-container .table tbody tr:hover td,
.table-container .table tbody tr.hover td,
.table-container .table tbody tr.current td {
  background-color: rgba(242, 68, 85, 0.08);
}
.table-container .table tbody tr:hover td .operation,
.table-container .table tbody tr.hover td .operation,
.table-container .table tbody tr.current td .operation {
  display: block;
}
.table-container .table tbody tr.tr-nodata td,
.table-container .table tbody tr.tr-nodata:hover td {
  background: none;
}
.table-container .table tbody .list-group {
  position: relative;
  padding-left: 195px;
  height: auto!important;
  min-height: 100px;
  height: 100px;
}
.table-container .table tbody .list-group .img {
  border: 1px solid #c3c3c3;
  background-color: #FFF;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
}
.table-container .table tbody .list-group .img img {
  height: 100px;
  width: 180px;
  display: block;
  vertical-align: top;
}
.table-container .table tbody .list-group .attr {
  float: left;
  max-width: 400px;
  _width: 400px;
}
.table-container .table tbody .list-group .attr li {
  margin-bottom: 6px;
}
.table-container .table tbody .list-group .attr .title {
  height: 17px;
  overflow: hidden;
}
.table-container .table tbody .list-group .attr .title .H {
  color: #ff0000;
}
.table-container .table tbody .list-group .attr .summary {
  height: 34px;
  overflow: hidden;
}
.table-container .table tfoot td {
  border: none;
  background-color: #fafafa;
  padding: 17px 14px;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-sizing: border-box;
}
.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #52be7f;
  outline: 0;
}
.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.open > .dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.dropdown-menu-right {
  right: 0;
  left: auto;
}
.dropdown-menu-left {
  right: auto;
  left: 0;
}
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #777;
  white-space: nowrap;
}
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: "";
  border-top: 0;
  border-bottom: 4px solid;
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media (min-width: 768px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0;
  }
}
.paginationwrapper .dropdown .caret:before {
  border-color: #fafafa transparent;
}
.dropdown.open .caret {
  border-width: 0 7px 6px;
}
.dropdown.open .caret:before {
  top: 1px;
  border-width: 0 7px 6px;
}
.dropdown .dropdown-toggle.btn-default {
  height: 32px;
  /*min-width: 100px;*/
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  color: #999;
  text-align: left;
  background-color: transparent;
}
.dropdown .dropdown-toggle.btn-default:hover {
  border-color: #CCC;
}
.dropdown.open .dropdown-toggle.btn-default {
  border-color: #CCC;
  color: #000;
}
.dropdown .dropdown-toggle.btn-default .dropdown-toggle-label {
  display: inline-block;
  min-width: 56px;
  text-align: left;
}
.dropdown .dropdown-menu {
  margin-top: 10px;
  box-shadow: none;
  border: 1px solid #E6E6E6;
  padding: 10px 2px;
  font-size: 12px;
  min-width: 100px;
  max-height: 270px;
  overflow: auto;
}
.dropdown .dropdown-menu > li {
  padding: 4px 10px;
}
.dropdown .dropdown-menu > li > a {
  padding: 3px 10px;
}
.dropdown .dropdown-menu > li > a:hover {
  background-color: #F0F0F0;
  border-radius: 4px;
}
.dropdown .dropdown-menu > .active > a,
.dropdown .dropdown-menu > .active > a:hover,
.dropdown .dropdown-menu > .active > a:focus {
  background-color: #52be7f;
  border-radius: 4px;
}
.pagination-statistics .dropdown .dropdown-toggle.btn-default .dropdown-toggle-label {
  min-width: initial;
}
.dropdown .caret_custom {
  float: none!important;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  text-decoration: none;
  border: 1px solid #ddd;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #333;
  cursor: default;
  background-color: #479065;
  border-color: #479065;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.pagination > li > a:hover,
.pagination > li > span:hover {
  color: #52be7f;
}
body .paginationwrapper {
  padding-top: 10px;
  margin-left: 0;
  margin-right: 0;
}
body .paginationwrapper {
  *zoom: 1;
  padding-right: 15px;
  padding-left: 15px;
  background-color: #FAFAFA;
}
body .paginationwrapper:before,
body .paginationwrapper:after {
  display: table;
  content: "";
}
body .paginationwrapper:after {
  clear: both;
}
body .paginationwrapper .col-md-6 {
  float: left;
  width: 50%;
}
body .paginationwrapper .pagination > li {
  display: inline;
}
body .paginationwrapper .pagination > li > a,
body .paginationwrapper .pagination > li > span {
  border: none;
  border-radius: 4px;
}
body .paginationwrapper .pagination > li.active > a,
body .paginationwrapper .pagination > li.active > span {
  background-color: #52be7f;
  color: #fff;
}
body .paginationwrapper .pagination > li.active > a:hover,
body .paginationwrapper .pagination > li.active > span:hover {
  background-color: #479065;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  background: none;
}
body .pagination-statistics .dropdown .dropdown-toggle.btn-default .dropdown-toggle-label {
  min-width: initial;
}
.dropdown .dropdown-toggle.btn-default {
  height: 32px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  color: #999;
  text-align: left;
  background-color: transparent;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: left;
  white-space: normal;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-color: #ebebeb;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.popover p,
.popover ul {
  margin-bottom: 0;
}
.popover-content {
  padding: 20px;
}
.popover .arrow {
  display: none;
}
body .datepicker-container {
  border: 1px solid #E6E6E6 !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  padding: 0 10px;
}
body .datepicker-container .picker-group {
  padding: 0px;
}
body .datepicker-container .picker-group .picker-header {
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  padding: 0 15px;
  border-bottom: 1px solid #E6E6E6;
  margin-bottom: 0px;
}
body .datepicker-container .picker-group .picker-header .minus,
body .datepicker-container .picker-group .picker-header .plus {
  padding: 8px 0px;
  color: #999999;
}
body .datepicker-container .picker-group .picker-header .minus:hover,
body .datepicker-container .picker-group .picker-header .plus:hover {
  color: #52be7f;
}
body .datepicker-container .picker-group .picker-header .minus .brixfont,
body .datepicker-container .picker-group .picker-header .plus .brixfont {
  font-size: 12px;
}
body .datepicker-container .picker-group .picker-header h4 {
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 4px;
  height: 14px;
  line-height: 14px;
}
body .datepicker-container .picker-group .picker-body {
  width: 258px;
}
body .datepicker-container .picker-group .datepicker-body-description {
  color: #999999;
  background-color: #FAFAFA;
  padding: 0 10px;
}
body .datepicker-container .picker-group .datepicker-body-value {
  padding: 0 10px;
}
body .datepicker-container .picker-group .picker-body > span.active,
body .datepicker-container .picker-group .picker-body > .datepicker-body-value span.active {
  color: white;
  background-color: #52be7f;
}
.datepicker-container {
  color: #999999;
  background-color: #FAFAFA;
  padding: 0 10px;
}
body .datepicker-container .picker-group .datepicker-body-value {
  padding: 0 10px;
}
body .datepicker-container .picker-group .picker-body > span.active,
body .datepicker-container .picker-group .picker-body > .datepicker-body-value span.active {
  color: white;
  background-color: #52be7f;
}
body .datepickerwrapper-open .mgfont.up {
  display: block !important;
}
body .datepickerwrapper-open .mgfont.down {
  display: none;
}
body .datepickerwrapper-trigger {
  width: 200px;
  height: 32px;
}
body .datepickerwrapper {
  margin-top: 10px;
}
body .datepickerwrapper.single {
  border: none;
  box-shadow: none;
}
body .datepickerwrapper.multiple {
  padding: 20px 0px 10px 0px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  box-shadow: none;
}
body .datepickerwrapper .datepickerwrapper-shortcuts {
  padding: 0 10px;
  margin-bottom: 15px;
}
body .datepickerwrapper .datepickerwrapper-shortcuts .datepickerwrapper-shortcuts-body {
  width: 240px;
}
body .datepickerwrapper .datepickerwrapper-shortcuts .datepickerwrapper-shortcuts-body span {
  height: 16px;
  line-height: 16px;
  border-radius: 4px;
  margin: 0px 5px 10px 0px;
  width: 62px;
  font-size: 12px;
}
body .datepickerwrapper .datepickerwrapper-shortcuts .datepickerwrapper-shortcuts-body span.active {
  background: #52be7f;
}
body .datepickerwrapper .datepickerwrapper-inputs {
  padding: 0 10px;
  margin-bottom: 15px;
}
body .datepickerwrapper .datepickerwrapper-inputs .datepickerwrapper-inputs-body input {
  background-color: #F0F0F0;
  border: 0;
  box-shadow: none;
  font-size: 12px;
  height: 24px;
  width: 110px;
  text-align: center;
  border-radius: 2px;
}
body .datepickerwrapper .datepickerwrapper-footer {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  border-top: 1px solid #E6E6E6;
}
body .datepickerwrapper .datepickerwrapper-footer .btn {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding: 4px 14px;
  font-weight: normal;
  border: 0;
  box-sizing: content-box;
  border-radius: 2px;
}
body .datepickerwrapper .datepickerwrapper-footer .btn.submit {
  background-color: #52be7f;
  color: #FFF;
}
body .datepickerwrapper .datepickerwrapper-footer .btn.submit:hover {
  background-color: #479065;
}
body .datepickerwrapper .datepickerwrapper-footer .btn.cancel {
  background-color: #F0F0F0;
}
body .datepickerwrapper .datepickerwrapper-footer .btn.cancel:hover {
  background-color: #E6E6E6;
}
/*选小时依赖*/
/*.form-control{
  width: 60px;
  height: 65px;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
}*/
.picker-group {
  border-top: 1px solid #DDD;
  padding: 15px 0 13px 0 !important;
  margin-top: -2px;
}
.datepicker-container > .timepicker .timepicker-spliter {
  float: left;
  font-size: 45px;
  font-weight: bolder;
  display: inline-block;
  width: 29px;
  color: #555;
  text-align: center;
}
.timepicker-group .btn {
  width: 28px;
  height: 30px;
}
.glyphicon {
  position: relative;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-minus:before {
  content: "\2212";
}
.glyphicon-plus:before {
  content: "\2b";
}
/*下面再是各种页面的样式*/
.page-home .col-main {
  float: left;
  width: 100%;
}
.page-home .col-main .col-wrap {
  margin-right: 300px;
}
.page-home .col-main .album-list li {
  width: 260px;
  height: 260px;
  overflow: hidden;
  float: left;
  margin: 0 15px 15px 0;
  position: relative;
}
.page-home .col-main .album-list li .album {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95px;
  color: #fff;
  padding: 0 10px;
  box-sizing: border-box;
}
.page-home .col-main .album-list li .album a {
  color: #fff;
}
.page-home .col-main .album-list li .album .title {
  font-size: 14px;
  margin-top: 5px;
  line-height: 21px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.page-home .col-main .album-list li .album .reason {
  line-height: 18px;
  height: 36px;
  overflow: hidden;
}
.page-home .col-main .album-list li .album .msg {
  margin-top: 5px;
}
.page-home .col-main .album-list li .album .msg .user {
  float: left;
}
.page-home .col-main .album-list li .album .msg .user .avatar {
  border-radius: 10px;
  margin-right: 5px;
}
.page-home .col-main .album-list li .album .msg .operate {
  float: right;
  margin-top: -5px;
}
.page-home .col-sub {
  width: 290px;
  float: left;
  margin-left: -290px;
}
.page-user .signup_form {
  width: 400px;
  margin: 40px auto 0;
}
.page-user .signup_form input {
  width: 240px;
}
.page-user .signup_form .btn {
  margin-left: 54px;
}
.page-user .signup_form textarea {
  width: 240px;
  height: 80px;
  padding: 9px;
}
.page-user .signup_form textarea:focus {
  border-color: #52be7f !important;
}
