.wrapper {
  width: 100%;
}
.inmain {
  min-height: 600px;
  padding-top: 30px;
  width: 1400px;
  margin: 0 auto;
}

/* 公共头 */
.common-header {
  height: 50px;
  line-height: 50px;
  background-color: @color-brand;
  color: #fff;
  overflow: hidden;
  .inner-header {
    width: 1400px;
    margin: 0 auto;
    .logo {
        width: 200px;
        height: 50px;
        float: left;
        overflow: hidden;
        color: #fff;
      i {
        font-size: 42px;
        vertical-align: top;
        margin-right: 5px;
      }
      span {
        font-size: 20px;
      }
    }
    .nav {
      float: left;
      font-size: 14px;
      margin-left: 20px;
      li {
        float: left;
        padding: 0 30px;
        &.active a {
          color: #fff;
          .opacity(100)
        }
      }
      a {
        color: #fff;
        .opacity(55);
        &:focus,
        &:hover {
          color: #fff;
          .opacity(100);
        }
      }
    }
    .user {
      float: right;
      a {
        padding: 0 15px;
        color: #fff;
      }
    }
  }
}